@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.ad-itple{
    padding: 10px 0;       
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ad-itple .ad-img{
    width: 100%;
    background-size:contain; 
    background-position: center;
    background-repeat: no-repeat;  
}
.ad-itple.square, .ad-itple.wide{
    cursor: pointer;
}
.ad-itple.square .ad-img{    
    flex: 300px;
}
.ad-itple.wide .ad-img{
    flex: 250px;   
}
.ad-itple p{
    font-family: 'KOTRAHOPE';
    font-size : 1.3rem;   
    padding: 10px 20px;
    max-width: 500px;
    text-align: center;
    word-break: keep-all;   
}

/*
@media screen and (max-width:767px){
    .ad-itple .ad-img{
        background-size:cover; 
    }
}
*/
